.list-footer { 
    width: 100%;
    margin-top: 10px;
}

.add-list-card {
    margin-left: 8px;
    margin-bottom: 10px;
}

#text-form_none {
    display: none;
}

#text-form_block {
    display: block
}
