.new-list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: flex;
    margin-bottom: 8px;
    width: 90%;
    min-height: 20px;
    max-height: 50px;
    margin-left: 10px;
    position: relative;
}

.new-list-card p {
    font-size: 12px;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    width: 90%;
    margin: 5px 0 5px 5px;
}

.icon-holder {
    margin-top: 7px;
    width: 15%;
    display: flex;
}

.icon-holder i {
    margin-right: 5px;
}

