.mainheader {
    width: 100%;
    height: 8%;
    background-color: rgb(9, 16.9, 30.2, 0.32);
    display: flex;
    align-items: center;
    position: relative;
}

#input-field {
    margin-top: 2rem;
}
#search {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 23px;
    transition: 0.2s;
}

#search:focus {
    background-color: white;
}

.mainheader h1 {
    margin: 0;
    color: black;
    position: relative;
    left: 47%;
    font-size: 20px;
}

.mainheader h1:hover {
    color: white;
    transition: 0.4s;
}

.mainheader form {
    width: 10%;
    position: absolute;
    left: 2%;
}

.mainheader input {
    height: 20px;
    width: 200px; 
    min-width: 90px;
}